@page "/UserAccount/CreateAccount"
@layout CreateUserLayout
@using Project.Detroit.Models
@using Project.Detroit.Services
@inject UserAccountService _userAccountService
@inject NavigationManager _navigationManager
@inject ISnackbar Snackbar

<PageTitle>Project Detroit: Create Account</PageTitle>

<MudPaper Class="pa-8 ma-5 mt-2" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Create A New Account</strong></h1></MudText>
    <MudCard Elevation="2" Class="mt-4 pa-4">
        <MudTextField @bind-Value="@newUser.Name" Clearable="true" Label="Name" Margin="Margin.Dense" />
        <MudTextField @bind-Value="@newUser.Surname" Clearable="true" Label="Surname" Margin="Margin.Dense" />
        <MudTextField @bind-Value="@newUser.Email" Clearable="true" Label="Email" Margin="Margin.Dense" />
        <MudTextField @bind-Value="@newUser.Password" Label="Password" Variant="Variant.Text" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" AdornmentAriaLabel="Show Password" OnAdornmentClick="ShowPassword" />
        <MudNumericField Class="mt-4" Immediate="false" @bind-Value="@newUser.individualBalance" Format="N2" Label="Individual Balance" T="decimal?" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" AdornmentColor="Color.Warning"></MudNumericField>
        <MudNumericField Class="mt-4" Immediate="false" @bind-Value="@newUser.individualExpense" Format="N2" Label="Individual Expense" T="decimal?" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" AdornmentColor="Color.Warning"></MudNumericField>
    </MudCard>
        <MudButton Class="mt-4 mr-4" OnClick="CreateUser" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success">Create Account</MudButton>
        <MudButton Class="mt-4 mr-4" OnClick="Cancel" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Default">CANCEL</MudButton>
    </MudPaper>
@code {
    //Create a new user account
    userAccount newUser = new userAccount()
        {
            Id = Guid.NewGuid()
        };

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ShowPassword()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    //Create user
    private async Task CreateUser()
    {
        try
        {
            if (newUser != null)
            {
                // Add the user to the database
                await _userAccountService.addUserAsync(newUser);

                // Redirect to the login page after creating the user
                _navigationManager.NavigateTo("/");
            }
            else
            {
                // User is null, handle the error
                Snackbar.Add("The username cannot be created at this time.", Severity.Error);
                _navigationManager.NavigateTo("/UserAccount/CreateAccount");
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("The username cannot be created at this time.", Severity.Error);
            _navigationManager.NavigateTo("/UserAccount/CreateAccount");
        }
    }

    //Cancel operation
    void Cancel()
    {
        _navigationManager.NavigateTo("/");
    }
}